body {
  background-color: #00008B; /* Change background color to dark blue */
  color: black; /* Change text color to black */
  margin: 0;
  font-family: Arial, sans-serif;
}

.App-header {
  text-align: center;
  padding: 20px;
}
