body {
  background-color: #00008B; /* Dark blue background */
  color: white; /* White text */
  margin: 0;
  font-family: Arial, sans-serif;
}

.App-header {
  text-align: center;
  padding: 20px;
}
