body {
  background-color: white; /* Change background color to white */
  color: black; /* Change text color to black */
  margin: 0;
  font-family: Arial, sans-serif;
}

.App-header {
  text-align: center;
  padding: 20px;
}
